<!-- Reusable Admin Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="~/Admin/Index" class="logo" style="text-decoration-line:none;">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">LW</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Lucky</b>Wheel</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="text-decoration-line:none;"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Admin Panel</a>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/admin-lte/img/child.png" class="user-image" alt="User Image">
                            <span class="hidden-xs"><b>@ViewBag.Name</b></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="~/admin-lte/img/child.png" class="img-circle" alt="User Image">

                                <p>
                                    @ViewBag.Name - LuckyWheel Admin
                                    <small>Member since Dec. 2020</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="@Url.Action("Logout", "Login")" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

<!-- Reusable SideBar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="text-align:center;"><b>NAVIGATION PANEL</b></li>
            <li id="dashboard"><a href="~/Admin/Index"><i class="fa fa-dashboard"></i> <span> Dashboard</span></a></li>
            <li id="registration"><a href="~/Admin/CreateUserAndDraw"><i class="fa fa-user-plus"></i> <span> Registration</span></a></li>
            <li id="purchasers"><a href="~/Admin/Users"><i class="fa fa-users"></i> <span> Purchasers</span></a></li>
            <li id="winners"><a href="~/Admin/Winners"><i class="fa fa-trophy"></i> <span> Winners</span></a></li>
            <li id="staffluckydraw"><a href="~/Admin/StaffLuckyDraw"><i class="fa fa-star"></i> <span> Staff LuckyDraw</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>